@import "tailwindcss";  /*for tailwind to work*/

/* creating custom theme*/
@theme {
  --color-background: #0B1120;  /* Main page background */
  --color-foreground: #F8FAFC;

  --color-surface: #162033;     /* Navbar, modals, floating sections */
  --color-card: #1E293B;        /* Cards, containers */

  --color-primary: #FACC15;              /* Main brand color, CTA buttons */
  --color-primary-foreground: #0B1120;   /* Text on yellow buttons */

  --color-secondary: #334155;            /* Secondary buttons, tags, badges */
  --color-secondary-foreground: #F8FAFC; /* Text on secondary elements */

  --color-muted: #111827;                /* Footer, inputs, low-priority sections */
  --color-muted-foreground: #94A3B8;     /* Paragraphs, descriptions, helper text */

  --color-border: #475569;               /* Borders, dividers, outlines */
  --color-highlight: #38BDF8;            /* Hover effects, glows, special accents */

  --radius: 0.75rem;
}

/*initial elements default */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  /* setting the theme*/
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: "Inter", sans-serif;
  }
  .font-serif{
    font-family: "Playfair Display", serif;
  }
}

@layer components {
  .glass {
    background-color: color-mix(in srgb, var(--color-surface) 50% , transparent);
    backdrop-filter: blur(16px);
    border: 1px solid color-mix(in srgb, var(--color-border) 50%, transparent);
  }
  .glass-strong {
    background-color: color-mix(in srgb, var(--color-surface) 80% , transparent);
    backdrop-filter: blur(24px);
    border: 1px solid color-mix(in srgb, var(--color-border) 60%, transparent);
  }
  .glow-text {
    text-shadow : 0 0 30px
    color-mix(in srgb, var(--color-primary) 50%, transparent);
  }
}

@utility animate-fade-in  {
   animation: local-fade-in 0.8s ease-out both;

}
@utility delay-100 {
  animation-delay : 100ms;
}

@utility delay-800 {
  animation-delay : 800ms
}

@keyframes local-fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
      filter : blur(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      filter : blur(0);

    }
  }

  @utility star-glow {
    box-shadow: 0 0 8px 2px color-mix(in srgb, var(--color-primary) 50%, transparent)
  }

  @keyframes cosmic-loop {
    0% {
      opacity: 0.2;
      transform: translate(0,0) scale (0.8);
    }
    50% {
      opacity: 1;
      transform: translate(var(--drift-x, 20px), var(--drift-y, 20px)) scale(1.2);
    }
    100% {
      opacity: 0.2;
      transform: translate(calc(var(--drift-x, 20px) *2), calc(var(--drift-y, 20px) *2)) scale(0.8);
    }
  }

  @utility animate-cosmic {
    animation: cosmic-loop 10s ease-in-out infinite alternate;
  }
    
  